
@{
    Layout = null;
    ViewBag.Title = "ForgotPassword";
}
<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from zairito-html.zainiktheme.com/demo/sign-up.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Feb 2023 08:43:06 GMT -->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sign Up - Laendi Store</title>
    <meta name="description" content="Zairito - eCommerce HTML Template" />
    <meta name="keywords" content="business,eCommerce, Ecommerce, ecommerce, shop, shopify, shopify ecommerce, creative, woocommerce, design, gallery, minimal, modern, html, html5, responsive" />
    <meta name="author" content="Zairito" />

    <!-- fonts file -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Allison&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="~/assets/css/ForgotPasswordTheme.css" rel="stylesheet" />
    <!-- css file  -->
    @Styles.Render("~/assets/css")

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon">
</head>
<body>
    <!-- Preloader Area Start -->
    <div id="preloader">
        <div id="status">
            <img src="~/assets/images/preloader.svg" alt="img" />
        </div>
    </div>
    <!-- Preloader Area End -->
    @Html.Action("Header", "Home")
    <!-- breadcrumb area start here  -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-wrap text-center">
                <h2 class="page-title">Sign Up</h2>
                <ul class="breadcrumb-pages">
                    <li class="page-item"><a class="page-item-link" href="index.html">Home</a></li>
                    <li class="page-item">Sign Up</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sign-in-page sign-up-page section">

        <div class="container h-100">
            <div class="row h-100">
                <div class="col-sm-10 col-md-8 col-lg-10 mx-auto d-table h-100">
                    <div class="d-table-cell align-middle">

                        <div class="text-center mt-4">
                            <h1 class="h1">Quên Mật Khẩu?</h1>
                            <p class="lead">
                                Nhập email của bạn để cập nhật lại mật khẩu.
                            </p>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="m-sm-4">
                                    <div>
                                        <span class="badge badge-success">@ViewBag.success</span>
                                    </div>
                                    <form action="~/login/forgotpassword" method="post">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input class="form-control form-control-lg" type="email" name="email" placeholder="Email của bạn">
                                        </div>
                                        <div class="text-center mt-3">
                                            <button type="submit" class="btn btn-lg btn-primary">Gửi đi</button>
                                            <!-- <button type="submit" class="btn btn-lg btn-primary">Reset password</button> -->
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    @Html.Action("Footer", "Home")
    <!-- Js file  -->
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/assets/js")
</body>
</html>


