@using LaendiStore.ViewModel

@{
    ViewBag.Title = "Index";
    var Model = (List<ProductByCategoryViewModel>)ViewBag.productModel;
}

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Data Tables
                </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Tables</a></li>
                    <li class="breadcrumb-item active">Data tables</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-12">

                        <div class="box">
                            <div class="box-header">
                                <a href="~/admin/products/create" class="btn btn-primary">@Resources.Common.lblCreateNew</a>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="example1" class="table table-bordered table-striped table-responsive">
                                    <thead>
                                        <tr>
                                            <th>
                                                Category Name
                                            </th>
                                            <th>
                                                Product Name
                                            </th>
                                            <th>
                                                Alias
                                            </th>
                                            <th>
                                                Image
                                            </th>
                                            <th>
                                                MoreImage
                                            </th>
                                            <th>
                                                Price
                                            </th>
                                            <th>
                                                PromotionPrice
                                            </th>
                                            <th>
                                                Warranty
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Content
                                            </th>
                                            <th>
                                                ViewCount
                                            </th>
                                            <th>
                                                Tags
                                            </th>
                                            <th>
                                                Code
                                            </th>
                                            <th>
                                                Brand
                                            </th>
                                            <th>
                                                CreateDate
                                            </th>
                                            <th>
                                                CreatedBy
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @item.categorys.Name
                                                </td>
                                                <td>
                                                    @item.products.Name
                                                </td>
                                                <td>
                                                    @item.products.Alias
                                                </td>
                                                <td>
                                                    @item.products.Image
                                                </td>
                                                <td>
                                                    @item.products.MoreImage
                                                </td>
                                                <td>
                                                    @item.products.Price
                                                </td>
                                                <td>
                                                    @item.products.PromotionPrice
                                                </td>
                                                <td>
                                                    @item.products.Warranty
                                                </td>
                                                <td>
                                                    @item.products.Description
                                                </td>
                                                <td>
                                                    @item.products.Content
                                                </td>
                                                <td>
                                                    @item.products.ViewCount
                                                </td>
                                                <td>
                                                    @item.products.Tags
                                                </td>
                                                <td>
                                                    @item.products.Code
                                                </td>
                                                <td>
                                                    @item.products.Brand
                                                </td>
                                                <td>
                                                    @item.products.CreateDate
                                                </td>
                                                <td>
                                                    @item.products.CreatedBy
                                                </td>
                                                <td>
                                                    @item.products.Status
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "Products", new { id = item.products.ID })"><i class="fa fa-edit"></i></a>
                                                    <a href="@Url.Action("Delete", "Products", new { id = item.products.ID })"><i class="fa fa-times-circle" onclick="ShowModelPopUpDeleted();"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->
</body>

