@using LaendiStore.Common
@{
    Layout = null;
}
<!-- header area start here  -->
<header class="header-area d-none d-lg-block">
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="header-top-left">
                        <p class="contact-info"><i class="icon flaticon-phone"></i> Call Us: +84 862 706 198 (FREE)</p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header-top-right">
                        <div class="top-bar-menu">
                            <ul class="menu-list">
                                <li class="menu-item"><a class="menu-link" href="refund-policy.html"></a></li>
                                <li class="menu-item"><a class="menu-link" href="about-us.html">About Us</a></li>
                                <li class="menu-item"><a class="menu-link" href="blog.html">Blog</a></li>
                                <li class="menu-item"><a class="menu-link" href="faq.html">How To Buy</a></li>
                            </ul>
                        </div>
                        @if (Session[CommonStants.username_Customer] != null && Session[CommonStants.ID_Customer] != null)
                        {

                            <table>
                                <tr>
                                    <td><a class="btn btn-outline-secondary btn-lg">@Resources.Common.lblUserName : @Session[CommonStants.username_Customer]</a></td>
                                    <td> | <a class="btn btn-outline-danger" href="@Url.Action("Logout","login")"> @Resources.Common.lblLogout</a></td>
                                </tr>
                            </table>
                        }
                        else
                        {
                            <a class="account-btn" href="/Login/signIn"><i class="user-icon flaticon-user"></i> My Account </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="header-middle-wrap">
                <div class="brand-area">
                    <a class="brand-logo" href="/home/index"><img class="brand-image" src="~/assets/images/Laendi-0 (1).png" alt="zairito" /></a>
                </div>
                <div class="search-area">
                    <form>
                        <div class="search-wrap">
                            <select class="form-select">
                                <option selected>Category</option>
                                <option value="1">Health & Beauty</option>
                                <option value="2">Women's Fashion</option>
                                <option value="3">Men's Fashion</option>
                                <option value="4">Electronic</option>
                                <option value="5">Sports </option>
                            </select>
                            <div class="form-group">
                                <input type="text" class="form-control" id="search" name="search" placeholder="Search Here" />
                                <button type="button" class="search-btn"><i class="flaticon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="header-right">
                    <div class="wishlist single-btn">
                        <a href="wish-list.html" class="wishlist-btn header-btn">
                            <div class="btn-left">
                                <i class="btn-icon flaticon-like"></i>
                                <span class="count">12</span>
                            </div>
                            <div class="btn-right">
                                <span class="btn-text">Wishlist</span>
                                <span class="item-count">12 items</span>
                            </div>
                        </a>
                    </div>
                    <div class="compare single-btn">
                        <a href="compare.html" class="compare-btn header-btn">
                            <div class="btn-left">
                                <i class="btn-icon flaticon-bar-chart"></i>
                                <span class="count">5</span>
                            </div>
                            <div class="btn-right">
                                <span class="btn-text">Compare</span>
                                <span class="item-count">5 items</span>
                            </div>
                        </a>
                    </div>
                    <div class="cart single-btn">
                        <a data-bs-toggle="offcanvas" href="/Cart/Index" role="button" aria-controls="cartOffcanvasSidebar" class="cart-btn header-btn">
                            <div class="btn-left">
                                <i class="btn-icon flaticon-shopping-bag"></i>
                                <span class="count">10</span>
                            </div>
                            <div class="btn-right">
                                <span class="btn-text">Your Cart</span>
                                <span class="price">$92.56</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <nav class="menu-area">
            <ul class="main-menu">
                <li class="menu-item active">
                    <a class="menu-link" href="/home/index">Home</a>
                </li>
                <li class="menu-item mega-menu-parent">
                    <a class="menu-link" href="#">Shop <i class="arrow-icon fas fa-angle-down"></i></a>
                    <div class="mega-menu-area">
                        <div class="container">
                            <ul class="mega-menu">
                                <li class="mega-menu-item">
                                    <a class="mega-menu-title" href="@Url.Action("ProductCollection","Home", new {CateValue = CommonStants.ContentKey.KeyAll })">Shop Collection</a>
                                    <ul class="menu-items">
                                        <li class="mega-menu-items"><a class="mega-menu-link" href="@Url.Action("ProductCollection","Home", new {CateValue = CommonStants.ContentKey.KeyPants })">Shop To Pants</a></li>
                                        <li class="mega-menu-items"><a class="mega-menu-link" href="@Url.Action("ProductCollection","Home", new { CateValue = CommonStants.ContentKey.KeyShirts })">Shop To T-Shirt <span class="menu-item-badge trending">Trending</span> </a></li>
                                        <li class="mega-menu-items"><a class="mega-menu-link" href="@Url.Action("ProductCollection","Home", new { CateValue = CommonStants.ContentKey.KeyShoes })">Shop To Shoes</a></li>
                                        <li class="mega-menu-items"><a class="mega-menu-link" href="@Url.Action("ProductCollection","Home", new { CateValue = CommonStants.ContentKey.KeyBomber })">Shop To Bomber</a></li>
                                        <li class="mega-menu-items"><a class="mega-menu-link" href="@Url.Action("ProductCollection","Home", new { CateValue = CommonStants.ContentKey.KeyJacket })">Shop To Jacket</a></li>
                                        <li class="mega-menu-items"><a class="mega-menu-link" href="@Url.Action("ProductCollection","Home", new { CateValue = CommonStants.ContentKey.KeyVay })">Shop To Dress</a></li>
                                        <li class="mega-menu-items"><a class="mega-menu-link" href="@Url.Action("ProductCollection","Home", new { CateValue = CommonStants.ContentKey.KeyAccessories })">Shop To Accessories</a></li>
                                        <li class="mega-menu-items"><a class="mega-menu-link" href="@Url.Action("ProductCollection","Home", new { CateValue = CommonStants.ContentKey.KeyQuanJeans })">Shop To Jeans Pant <span class="menu-item-badge new">New</span></a></li>
                                    </ul>
                                </li>
                                <li class="mega-menu-item">
                                    <a class="mega-menu-banner" href="#">
                                        <img class="menu-banner-image" src="~/assets/images/mega-menu-banner.png" alt="mega-menu-banner" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="menu-item menu-item-has-children">
                    <a class="menu-link" href="#">Pages <i class="arrow-icon fas fa-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item"><a class="sub-menu-link" href="term-conditions.html">Term & Conditions</a></li>
                        <li class="sub-menu-item"><a class="sub-menu-link" href="privacy-policy.html">Privacy Policy</a></li>
                        <li class="sub-menu-item"><a class="sub-menu-link" href="shipping-return.html">Shipping & Return</a></li>
                        <li class="sub-menu-item"><a class="sub-menu-link" href="faq.html">Frequently Asked Questions</a></li>
                        <li class="sub-menu-item"><a class="sub-menu-link" href="refund-policy.html">Refund policy</a></li>
                        <li class="sub-menu-item"><a class="sub-menu-link" href="error.html">Error Page</a></li>
                        <li class="sub-menu-item"><a class="sub-menu-link" href="sign-in.html">Sign In</a></li>
                        <li class="sub-menu-item"><a class="sub-menu-link" href="sign-up.html">Sign Up</a></li>
                    </ul>
                </li>

                <li class="menu-item"><a class="menu-link" href="about-us.html">about us</a></li>
                <li class="menu-item menu-item-has-children">
                    <a class="menu-link" href="#">Blog <i class="arrow-icon fas fa-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item"><a class="sub-menu-link" href="blog.html">Blog Grid</a></li>
                        <li class="sub-menu-item"><a class="sub-menu-link" href="single-blog.html">Blog Single</a></li>
                    </ul>
                </li>
                <li class="menu-item"><a class="menu-link" href="/home/contact">Contact</a></li>

            </ul>
        </nav>
    </div>
</header>
<!-- header area end here  -->