@model IEnumerable<LaendiStore.Data.EF.Shipper>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Store.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipperName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberPhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Store.StoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipperName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberPhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShipperID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShipperID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShipperID })
        </td>
    </tr>
}

</table>
